Repository kowainik/hit-on, pull requests merged in 2019-07, with the labels that each got.

#73 [#63] Implement 'hit status' command
  .gitignore
  CHANGELOG.md
  hit-on.cabal
  src/Hit/Cli.hs
  src/Hit/ColorTerminal.hs
  src/Hit/Git.hs
  src/Hit/Git/Status.hs
Labels: CLI, enhancement

#74 [#35] Implement Unit Tests for 'parseOwnerRepo' function
  hit-on.cabal
  test/Main.hs
Labels: tests

#78 [#75] Align count properly
  hit-on.cabal
  src/Hit/Git/Status.hs
Labels: beauty

#83 [#79] Tell about rebase in 'hit status'
  CHANGELOG.md
  hit-on.cabal
  src/Hit/Git/Status.hs
Labels: Git, beauty, enhancement

#87 [#84] Show conflict files in 'hit status'
  src/Hit/Git/Status.hs
Labels: Git

#88 [#82] Add force flag to hit fix
  CHANGELOG.md
  hit-on.cabal
  src/Hit/Cli.hs
  src/Hit/Core.hs
  src/Hit/Git.hs
Labels: CLI

#91 [#85] `hit commit` to guess commit name
  CHANGELOG.md
  README.md
  src/Hit/Cli.hs
  src/Hit/Git.hs
Labels: Git, enhancement

#90 [#81] Implement 'hit diff' command
  .travis.yml
  CHANGELOG.md
  README.md
  hit-on.cabal
  src/Hit/Cli.hs
  src/Hit/Git.hs
Labels: CLI, Git, beauty

#92 [#67] hit stash / unstash
  CHANGELOG.md
  src/Hit/Cli.hs
  src/Hit/Git.hs
Labels: CLI, Git

#93 [#86] Better support for binary files in 'hit status'
  CHANGELOG.md
  src/Hit/Git.hs
  src/Hit/Git/Status.hs
Labels: beauty

#94 [#89] Add [-p|--push] flag to 'hit commit'
  CHANGELOG.md
  README.md
  src/Hit/Cli.hs
  src/Hit/Core.hs
  src/Hit/Git.hs
Labels: CLI, Git, enhancement

#95 [#80] Add `hit uncommit` command
  CHANGELOG.md
  src/Hit/Cli.hs
  src/Hit/Git.hs
Labels: CLI, Git, enhancement

#97 [#77] `hit clear` command
  CHANGELOG.md
  src/Hit/Cli.hs
  src/Hit/ColorTerminal.hs
  src/Hit/Git.hs
  src/Hit/Git/Status.hs
Labels: CLI, Git

#98 [#69] Set up autocompetion
  CHANGELOG.md
  README.md
Labels: doc

#99 [#72] Make `new` command take branch names
  CHANGELOG.md
  src/Hit/Cli.hs
  src/Hit/Git.hs
Labels: Git, enhancement
