Repository kowainik/hit-on, pull requests merged in 2019-12, with the labels that each got.

#118 [#65] Add issue option to hit new
  src/Hit/Cli.hs
  src/Hit/Git.hs
  src/Hit/Issue.hs
Labels: CLI, GitHub, Hacktoberfest

#128 [#127] Assign users on `hit new --issue` command
  CHANGELOG.md
  app/Main.hs
  hit-on.cabal
  src/Hit/Cli.hs
  src/Hit/ColorTerminal.hs
  src/Hit/Git.hs
  src/Hit/Issue.hs
  src/Prelude.hs
  stack.yaml
Labels: CLI, GitHub, refactoring

#131 [#68] Implement a prettier version for `git log`
  README.md
  src/Hit/Cli.hs
  src/Hit/Git.hs
Labels: Git

#134 [#133] Move to GHC-8.8.1
  CHANGELOG.md
  CONTRIBUTING.md
  hit-on.cabal
  src/Hit/Core.hs
  stack.yaml
Labels: CI, enhancement
