Repository kowainik/hit-on, pull requests merged in 2019-10, with the labels that each got.

#113 Addresses #112: sets default to `n` in `hit clear` prompt.
  src/Hit/ColorTerminal.hs
  src/Hit/Git.hs
Labels: CLI, Git, enhancement

#114 [#107] Add local flag to amend command
  src/Hit/Cli.hs
  src/Hit/Git.hs
Labels: CLI

#119 [#108]: Bump up github to 0.23
  hit-on.cabal
  src/Hit/Issue.hs
  stack.yaml
Labels: GitHub, Hacktoberfest

#121 [#104] Support renames in 'hit status'
  src/Hit/Git.hs
  src/Hit/Git/Status.hs
Labels: CLI, Git

#120 [#76] Align issues.
  hit-on.cabal
  src/Hit/Formatting.hs
  src/Hit/Git/Status.hs
  src/Hit/Issue.hs
Labels: CLI

#123 [#122] Fix wrong order on `hit status` on renames
  src/Hit/Git/Status.hs
Labels: CLI, Git

#125 Use Relude 0.6.0.0
  .travis.yml
  CHANGELOG.md
  hit-on.cabal
  stack.yaml
Labels: library
