Repository kowainik/hit-on, pull requests merged in 2019-02, with the labels that each got.

#13 [#1] Impl basic CLI
  .travis.yml
  app/Main.hs
  hit-on.cabal
  src/Hit.hs
  src/Hit/Cli.hs
  src/Hit/ColorTerminal.hs
  src/HitOn.hs
  stack.yaml
Labels: CLI

#14 Implement orphan instance for shell
  hit-on.cabal
  src/Hit/Shell.hs
Labels: enhancement

#16 [#2] Implement 'hop' command
  hit-on.cabal
  src/Hit/Cli.hs
  src/Hit/Git.hs
Labels: CLI, Git

#17 [#3] Implement 'fresh' command
  src/Hit/Cli.hs
  src/Hit/Git.hs
Labels: CLI, Git

#18 [#5] Implement issue command
  .travis.yml
  hit-on.cabal
  src/Hit/Cli.hs
  src/Hit/ColorTerminal.hs
  src/Hit/Issue.hs
  stack.yaml
Labels: CLI, GitHub

#19 [#4] Implement 'new' command
  src/Hit/Cli.hs
  src/Hit/Git.hs
  src/Hit/Shell.hs
Labels: CLI, Git

#21 [#7] Impl git push command
  src/Hit/Cli.hs
  src/Hit/Git.hs
  src/Hit/Shell.hs
Labels: CLI, Git

#22 [#8] Implement 'commit' command
  src/Hit/Cli.hs
  src/Hit/Git.hs
Labels: CLI, Git

#24 [#9] Implement 'sync' command
  src/Hit/Cli.hs
  src/Hit/Git.hs
Labels: CLI, Git

#27 [#23] Add 'no-issue' option to 'commit' command
  src/Hit/Cli.hs
  src/Hit/Git.hs
Labels: CLI, enhancement

#31 [#6] Add short description to branch
  src/Hit/Git.hs
  src/Hit/Issue.hs
Labels: Git, GitHub, enhancement

#32 [#11] Implement 'fix' command
  src/Hit/Cli.hs
  src/Hit/Git.hs
Labels: CLI, Git

#38 [#37] Support OAuth
  src/Hit/Issue.hs
Labels: GitHub

#44 Changed `hit fix` to `hit amend`
  src/Hit/Cli.hs
  src/Hit/Git.hs
Labels: CLI

#46 Implemented `hit fix` [WIP]
  src/Hit/Cli.hs
  src/Hit/Git.hs
Labels: CLI, Git

#45 [#34] Write documentation
  README.md
Labels: doc

#52 [#51] Add hit clone command
  README.md
  src/Hit/Cli.hs
  src/Hit/Git.hs
Labels: CLI, Git

#54 [#53] Use shellmet
  hit-on.cabal
  src/Hit/Git.hs
  src/Hit/Issue.hs
  src/Hit/Shell.hs
  stack.yaml
Labels: enhancement

#56 [#36] Improve hit issue <n> command output
  src/Hit/ColorTerminal.hs
  src/Hit/Issue.hs
Labels: GitHub, beauty

#57 [#50] Make .git suffix optional
  src/Hit/Issue.hs
Labels: Git, enhancement
