Repository kowainik/hit-on, pull requests merged in 2020-07, with the labels that each got.

#186 [#135] Improve `stash` command
  CHANGELOG.md
  hit-on.cabal
  src/Hit/Cli.hs
  src/Hit/Git.hs
  src/Hit/Git/Clear.hs
  src/Hit/Git/Stash.hs
  src/Hit/Git/Unstash.hs
Labels: CLI, Git, enhancement

#187 [#163] Add tests: commit msgs. and branch names
  hit-on.cabal
  src/Hit/Git/Branch.hs
  src/Hit/Git/Commit.hs
  test/Main.hs
  test/Test/Hit/Names.hs
Labels: tests

#188 [#109] Do not fail on 'hit fresh' when unsuccessful rebasing
  CHANGELOG.md
  src/Hit/Git/Fresh.hs
  src/Hit/Prompt.hs
Labels: Git, bug

#189 [#178] Add newly created issues to milestones
  CHANGELOG.md
  src/Hit/Cli.hs
  src/Hit/Core.hs
  src/Hit/Git/Branch.hs
  src/Hit/Issue.hs
Labels: CLI, GitHub, enhancement

#190 [#146] Add Windows CI
  .github/workflows/ci.yml
Labels: CI
