Repository kowainik/hit-on, pull requests merged in 2020-06, with the labels that each got.

#161 Update dependencies
  .github/workflows/ci.yml
  .travis.yml
  hit-on.cabal
  stack.yaml
Labels: CI, library

#162 [#156] Take care of RFCs
  src/Hit/Formatting.hs
  src/Hit/Git/Commit.hs
  src/Hit/Git/New.hs
  src/Hit/Git/Status.hs
Labels: enhancement, refactoring

#164 [#152] Filter out PRs in `hit issue` command
  src/Hit/Issue.hs
Labels: GitHub, enhancement

#166 [#151] Print issue link when create the issue
  CHANGELOG.md
  src/Hit/Git/New.hs
Labels: CLI, enhancement

#167 [#154] Add '--date=now' to 'hit ammend'
  CHANGELOG.md
  src/Hit/Git/Amend.hs
Labels: CLI, Git, enhancement

#168 [#149] Shorter status signs
  CHANGELOG.md
  src/Hit/Git/Status.hs
Labels: Git

#169 [#157] Show issues from the current milestone
  CHANGELOG.md
  src/Hit/Cli.hs
  src/Hit/Core.hs
  src/Hit/Issue.hs
Labels: CLI, Git, GitHub

#170 [#148] Replace dots with hyphens when guessing branch name
  CHANGELOG.md
  src/Hit/Git/New.hs
Labels: Git

#171 [#159] wip commits
  hit-on.cabal
  src/Hit/Cli.hs
  src/Hit/Git.hs
  src/Hit/Git/Stash.hs
  src/Hit/Git/Wip.hs
Labels: CLI, Git

#172 [#155] Notify if there are no open issues
  CHANGELOG.md
  src/Hit/Issue.hs
Labels: CLI, beauty

#174 [#136] Add `--hard` or `--force` option to the `hit sync` command
  src/Hit/Cli.hs
  src/Hit/Core.hs
  src/Hit/Git/Amend.hs
  src/Hit/Git/Clear.hs
  src/Hit/Git/Commit.hs
  src/Hit/Git/Fix.hs
  src/Hit/Git/Push.hs
  src/Hit/Git/Sync.hs
  src/Hit/Git/Wip.hs
Labels: CLI, Git

#176 [#175] Update header information in the library modules
  .headroom.yaml
  headroom-templates/haskell.mustache
  hit-on.cabal
  src/Hit.hs
  src/Hit/Cli.hs
  src/Hit/Core.hs
  src/Hit/Formatting.hs
  src/Hit/Git.hs
  src/Hit/Git/Amend.hs
  src/Hit/Git/Clear.hs
  src/Hit/Git/Clone.hs
  src/Hit/Git/Commit.hs
  src/Hit/Git/Common.hs
  src/Hit/Git/Current.hs
  src/Hit/Git/Diff.hs
  src/Hit/Git/Fix.hs
  src/Hit/Git/Fresh.hs
  src/Hit/Git/Hop.hs
  src/Hit/Git/Log.hs
  src/Hit/Git/New.hs
  src/Hit/Git/Push.hs
  src/Hit/Git/Resolve.hs
  src/Hit/Git/Stash.hs
  src/Hit/Git/Status.hs
  src/Hit/Git/Sync.hs
  src/Hit/Git/Uncommit.hs
  src/Hit/Git/Unstash.hs
  src/Hit/Git/Wip.hs
  src/Hit/Issue.hs
  src/Hit/Prompt.hs
Labels: doc

#179 [#177] `hit milestones` command to get the list of open milestones
  CHANGELOG.md
  hit-on.cabal
  src/Hit/Cli.hs
  src/Hit/Git.hs
  src/Hit/Git/Milestones.hs
  src/Hit/GitHub.hs
  src/Hit/Issue.hs
  test/Main.hs
Labels: CLI, GitHub, enhancement, refactoring

#180 [#153] Create PRs with a new command/option
  README.md
  hit-on.cabal
  src/Hit/Cli.hs
  src/Hit/Git.hs
  src/Hit/Git/Commit.hs
  src/Hit/Git/Pr.hs
  src/Hit/Hub.hs
Labels: CLI, GitHub

#181 [#160] hit rename
  CHANGELOG.md
  hit-on.cabal
  src/Hit/Cli.hs
  src/Hit/Git.hs
  src/Hit/Git/Branch.hs
  src/Hit/Git/Pr.hs
  src/Hit/Git/Wip.hs
Labels: CLI, Git, GitHub

#183 [#116] `hit new` without arguments should choose the only assigned issue and create a branch for it
  CHANGELOG.md
  src/Hit/Cli.hs
  src/Hit/Core.hs
  src/Hit/Git/Branch.hs
  src/Hit/Git/Pr.hs
  src/Hit/Git/Wip.hs
  src/Hit/Issue.hs
Labels: CLI, enhancement

#184 [#182] Populate labels for the 'hit pr' command
  CHANGELOG.md
  src/Hit/Git/Pr.hs
Labels: GitHub

#185 [#165] hit fork command
  CHANGELOG.md
  src/Hit/Cli.hs
  src/Hit/Git.hs
  src/Hit/Git/Clone.hs
Labels: CLI, GitHub, enhancement, question
